html, body{
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

#root {
  text-align: center;
  margin-bottom: 200px;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

h1, h2, h3, h4, h5, h6 {
  text-transform: capitalize;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

ul.list-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  list-style-type: none;
  padding: 0;
  margin: 0 8em;
  align-items: start;
}

.list-item {
  display: block;
  width: 95%;
  margin: 4rem 0;
  background-color: #fff;
  padding: 1rem;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.list-item img {
  width: 100%;
  height: auto;
  border-radius: 5px;
}

button, .button-link {
  padding: 1em 2em;
  background-color: #646cff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 300ms;
  display: block;
}


/*Paleta de Colores
Inspirada en el sitio de Tim Tadder, podrías usar una paleta con tonos oscuros, blancos y algunos acentos en grises o metálicos:

Fondo: #1a1a1a (Oscuro)
Texto y enlaces: #ffffff (Blanco puro)
Hover en enlaces: #ffffff (Fondo blanco), #1a1a1a (Texto negro)
Acentos (si lo necesitas): #cccccc (Gris claro)*/